body {
    background-color: #F39F5A;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #451952;
    font-size: 2rem;
    margin: 1rem 0;
}

.but {
    text-align: center; /* Center the content */
    padding: 1rem;
}

button {
    font-family: 'Poppins', sans-serif;
    color: #F39F5A;
    border-radius: 5px;
    background-color: #662549;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0.5rem;
}

button:hover {
    background-color: #AE445A;
}

#wordMeaning {
    font-size: 1.5rem;
    padding: 5px;
    margin: 1rem 0;
    text-align: center;
    color: #662549;
    max-height: 60vh;
    overflow-y: auto;
}

.footer {
    max-height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    background-color: #F39F5A;
    color: #451952;
    font-size: 1rem;
}
